*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to top, rgb(0, 0, 0),rgb(18, 42, 94));
  color: #ffffff 
  }

.principal{
  width: 430px;
  border-radius: 8px;
  padding: 30px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  position: relative;
  background-color: rgb(22, 76, 122);
}

.principal h2{
  position: relative;
  font-size: 22px;
  font-weight: 600;
  color: #000;
}

.principal h2 ::before{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50px;
  border-radius: 12px;
  height: 3px;
}

form{
  margin-top: 35px;
}

form .campo{
  height: 55px;
  margin: 18px 0;
}

.campo input{
  height: 100%;
  width: 100%;
  border: 1.5px solid silver;
  outline: none;
  font-size: 17px;
  padding: 0 17px;
  border-radius: 8px;
  font-weight: 400;
  transition: all 300ms ease;
}

.glow-on-hover {
  width: 120px;
  height: 50px;
  border: none;
  outline: none;
  color: #ffffff;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #0011ff, #0066ff, #00d9ff, #7700ff, #a200ff, #0011ff);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #ffffff
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(59, 122, 180);
  left: 0;
  top: 0;
  border-radius: 5px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}